<!--<p>
  category-photos works!
</p>-->
<!--spot list-->
<div class="container"> 
  <div class="row">
  <div class="col-sm-12 col-md-12">

      <div class="page-header">
         <h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{user}}</h4>
         <h1>PHOTO SELECT </h1>

          <ol   class="breadcrumb">
            <li *ngFor="let top of topCategorys | async" 
          
            (click)="onSelectCategory(this.user,top.name)">
                <span>{{top.name}}</span>
            </li>
          </ol>
        <!--<p>撮影スポットをＭＡＰ表示する</p>-->
        
      </div>
      <div class="media">
        <ul class="list-group">
<!--
          <li *ngFor="let item of items  | async; let idx = index; " 
          [class.selected]="item === selectSpot" (click)="onSelect(item,idx)" 
          class="list-group-item">-->

          <li *ngFor="let item of itemsCategory   let idx = index; " 
          [class.selected]="item === selectSpot" (click)="onSelect(item,idx)" 
          class="list-group-item">

              <div class="media-left media-middle">
                   <img [src]="image[item.id]" class="media-object img-size-list" alt="投稿画像"/>
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{item.title}}</h4>
                <p class="media-heading">
                  <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>{{item.category}} 
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>{{item.sdate}}</p>
                <p class="media-heading">
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{item.place}}</p>
                <!--<p class="media-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{item.displayName}}</p>-->
                
                <!--<ol class="breadcrumb">
                  <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{item.place}}</li>
                  <li><i class="fa fa-calendar" aria-hidden="true"></i>{{item.sdate}}</li>
                  <li ><i class="fa fa-clock-o" aria-hidden="true"></i>{{item.stime}}</li>
                </ol>
                 <ol class="breadcrumb">
                  <li ><i class="fa fa-folder-o" aria-hidden="true"></i>{{item.category}}</li>
                  <li ><i class="fa fa-tag" aria-hidden="true"></i>{{item.tag}}</li>
                </ol>-->
                 <!--<h4 class="media-heading">{{item.text}}</h4>-->
                  <!--<a [routerLink]="['photos/spot',item.img]">go to Detail</a>-->
              </div>
          </li>

        </ul>






        <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom] = "zoom">
          <sebm-google-map-marker 
            *ngFor="let m of itemsCategory   let i = index"
              [latitude]="m.imgLat"
              [longitude]="m.imgLan">

            <sebm-google-map-info-window [disableAutoPan]="true"  >
              <a [routerLink]="['marker',m.displayName,m.img]">
                <strong>{{m.title}}</strong>
             </a>
            </sebm-google-map-info-window>

          </sebm-google-map-marker>

          </sebm-google-map>

        <div>
          <button (click)="goBack()">Back</button>
        </div>

      </div>

      




    </div>
  </div>
  </div>


