.sebm-google-map-container {
  height: 400px;
  width: auto;
}
ol {
  margin: 0;
  padding: 0;
}
small{
    padding-left: 15px;
}
.glyphicon {
    margin-right: 10px;
}

.glyphicon-time{
    margin-left: 10px;
}
.panel-haeding-coment{
     background-color: whitesmoke;
}