.img-size-list{
    width: 100px;
    height: auto;
    border:1px solid gray;
}
.selected {
      background-color: ghostwhite !important;
      color: gray;
}
.glyphicon{
    margin-right:8px;
}
.list-group-item:hover{
    cursor: pointer;
    background: whitesmoke;
}
.link-color{
  color:brown;
}
.link-color:hover{
  color:red;
  cursor: pointer;
}