<!--<p>
  new-photo works!
</p>-->
<!--登録写真リスト-->
 <div class="col-sm-12 col-md-12">
      <div class="page-header">
        <h1><small>新規追加</small></h1>
      </div>
   </div>
 <!--<div class="col-sm-12 col-md-12">
          <div class="media">
            <ul class="list-group">
              <li *ngFor="let item of items  | async; let idx = index; "
               [class.selected]="item === selectSpot" 
              class="list-group-item"
               >
                  <div *ngIf="item.uid === uid " >
                    <div  class="media-left media-middle">
                        <img [src]="image[idx]" class="media-object img-size-list" alt="eye catch photo"/>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{item.title}}<br><small>{{item.text}}</small></h4>
                     
                       <ol class="breadcrumb">
                          <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{item.place}}</li>
                          <li><i class="fa fa-calendar" aria-hidden="true"></i>{{item.sdate}}</li>
                          <li ><i class="fa fa-clock-o" aria-hidden="true"></i>{{item.stime}}</li>
                         
                      
                          <li ><i class="fa fa-folder-o" aria-hidden="true"></i>{{item.category}}</li>
                          <li ><i class="fa fa-tag" aria-hidden="true"></i>{{item.tag}}</li>
                        </ol>
                         <button (click)="onSelect(item, idx)" class="btn btn-success btn-xs">修正</button>
                         <button (click)="delete(item.$key, item.img)" type="button" class="btn btn-primary btn-xs">削除</button>
                         
                     
                    </div>

                </div>
                <div *ngIf="idx === onClickIdx && selectSpot">
                  <app-create-update [selectSpot]="selectSpot" 
                            [image]="image" 
                            [category]="category" 
                            [items]="items"
                            [uid]="uid" 
                            [displayName]="displayName" 
                            [email]="email"
                            ></app-create-update>
                </div>
                
                  
              </li>
              
            </ul>
           
        </div> 
      </div>  -->
      <app-create-new-photo [selectSpot]="selectSpot" 
                            [image]="image" 
                            [category]="category" 
                            [items]="items"
                            [uid]="uid" 
                            [displayName]="displayName" 
                            [email]="email"
                            ></app-create-new-photo>
    <!--<app-create-new-photo></app-create-new-photo> -->
                            




