.photo-size{
    width: 150px;
    height: auto;
}

.img-size-list{
    width: 100px;
    height: auto;
    border:1px solid gray;
}
.selected {
      background-color: ghostwhite !important;
      color: gray;
}