<div class="container"> 
  <div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="page-header">
         <h1>PHOHO GALLAREY <small>  </small></h1>
     </div>
   
    <div>
      <ol class="breadcrumb">
        <li><a routerLink="users">USER SELECT</a></li>
        <!--<li><a routerLink="photos">PHOTOS SELECT</a></li>-->
        <!--<li><a routerLink="spot">PHOTOS SPOT</a></li>-->
         <!--<li><a [routerLink]="['photos',123]">PHOTO SELECT</a></li>-->
      </ol>
    </div>
     
    <router-outlet></router-outlet>
      
 
    </div>
  </div>
</div>

