<div class="container">
  <div class="row">
   <div class="col-sm-12 col-md-12">
      <div class="page-header">
        <h1>ACOUNT <small>  Google</small></h1>
      </div>
      <div class="page-header" >
       <!--<h1>{{message}}</h1><br>-->

        <div *ngIf="authService.isLoggedIn">
           <div class="thumbnail">
            <div class="media">

              <div class="media-left">
                  <img class="media-object photo-size-login" [src]="(af.auth | async)?.auth.photoURL"  alt="userphoto">
              </div>
              <div class="media-body">
                 <p>ようこそ！</p>
                <h3>{{ (af.auth | async)?.auth.displayName }}さん</h3>
                 <p>撮った写真を地図上にコレクションしましょう。</p>
              </div>

            </div>
          </div>
         
         
        </div>

        <div *ngIf="!authService.isLoggedIn">
          <h3>Googleアカウントを使ってログインしましょう！</h3>
          <p>写真を撮った場所を地図にマーキングできます。</p>
          
        </div>
        
        <div>
          <button (click)="logout()" class="btn btn-default btn-md" *ngIf="authService.isLoggedIn">
            Logout with Google
          </button>
        </div>

        <div>
          <button (click)="login() " class="btn btn-primary btn-md"  *ngIf="!authService.isLoggedIn">
            Login with Google
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">

<!--ログイン-->
    <!--<div *ngIf="(af.auth | async)">
      <div class="col-sm-12 col-md-12">

        <div class="thumbnail">
            <div class="media">

              <div class="media-left">
                  <img class="media-object photo-size-login" [src]="(af.auth | async)?.auth.photoURL"  alt="userphoto">
              </div>
              <div class="media-body">
                <h3>{{ (af.auth | async)?.auth.displayName }}さん</h3>
                <p>こんにちは!写真の場所をマークしてみよう！</p>　
                
              </div>

            </div>
          </div>

        </div>
      </div>

   </div>
</div>-->


 
 <!--<h2>LOGIN</h2>
    <p>{{message}}</p>
    <p>
      <button (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
      <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
    </p>-->
 

