
<!--spot list-->
<div class="container"> 
  <div class="row">
  <div class="col-sm-12 col-md-12">

      
      <div class="page-header">
         <!--<h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{user}}</h4>-->
         <h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{photoName}}</h4>
         <h1>PHOTO SELECT </h1>

          <ol   class="breadcrumb">
            <li *ngFor="let top of topCategorys | async" 
          
            (click)="onSelectCategory(this.user,top.name)">
                <span>{{top.name}}</span>
            </li>
          </ol>
        <!--<p>撮影スポットをＭＡＰ表示する</p>-->
        
      </div>
      <div class="media">
        <ul class="list-group">

          <li *ngFor="let item of items  | async; let idx = index; " 
          [class.selected]="item === selectSpot" (click)="onSelect(item,idx,image[idx])" 
          class="list-group-item">

              <div class="media-left media-middle">
                   <img *ngIf="image[idx]" [src]="image[idx]" class="media-object img-size-list" alt="投稿画像"/>
                   <!--<img *ngIf="myData" [src]="myData.imageUrl"/>-->
                   <!--<img src="{{ myData?.imageUrl }}"/>-->
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{item.title}}</h4>
                <p class="media-heading"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>{{item.category}} 
                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>{{item.sdate}}</p>
                <p class="media-heading"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{item.place}}</p>
                <!--<p class="media-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{item.displayName}}</p>-->
                
                <!--<ol class="breadcrumb">
                  <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{item.place}}</li>
                  <li><i class="fa fa-calendar" aria-hidden="true"></i>{{item.sdate}}</li>
                  <li ><i class="fa fa-clock-o" aria-hidden="true"></i>{{item.stime}}</li>
                </ol>
                 <ol class="breadcrumb">
                  <li ><i class="fa fa-folder-o" aria-hidden="true"></i>{{item.category}}</li>
                  <li ><i class="fa fa-tag" aria-hidden="true"></i>{{item.tag}}</li>
                </ol>-->
                 <!--<h4 class="media-heading">{{item.text}}</h4>-->
                  <!--<a [routerLink]="['photos/spot',item.img]">go to Detail</a>-->
                   <p class="media-heading link-color">
                      詳しく見る
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                  </p>
                  
              </div>
          </li>

        </ul>
        <button (click)="goBack()">Back</button>

      </div>
    </div>
  </div>
  </div>
  <!--<app-location [image]="image"  [items]="items"></app-location>-->
  <app-map [image]="image"  [items]="items"></app-map>