.img-size-list{
    width: 100px;
    height: auto;
    border:1px solid gray;
}
.selected {
      background-color: ghostwhite !important;
      color: gray;
}
.sebm-google-map-container {
  height: 300px;
}
// .glyphicon-user{
//    margin-right: 10px;
// }
ol {
  margin: 0;
  padding: 0;
}
.glyphicon{
  margin-right: 10px;
}
.glyphicon-calendar{
   margin-left: 10px;

}
.list-group-item:hover{
    cursor: pointer;
    background: whitesmoke;
}
.link-color{
  color:brown;
}
.link-color:hover{
  color:red;
  cursor: pointer;
}