.img-size-list{
    width: 100px;
    height: auto;
    border:1px solid gray;
}
.selected {
      background-color: ghostwhite !important;
      color: gray;
}
.sebm-google-map-container {
  height: 300px;
}
.glyphicon-user{
   margin-right: 10px;
}
ol {
  margin: 0;
  padding: 0;
}