<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
				<span class="sr-only">My-app3</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
      <a class="navbar-brand" href="#">{{WebTitle}}</a>
		</div>
		
		<div class="collapse navbar-collapse" id="navbarEexample">
			<ul class="nav navbar-nav">
				<!--<li class="active"><a routerLink="home">HOME</a></li>-->
				<li><a routerLink="home">HOME</a></li>
				<li><a routerLink="gallarey">USER</a></li>
				<!--<li><a routerLink="user">allUSERS</a></li>-->
				<!--<li><a routerLink="userHome">USERS HOME</a></li>-->
				<li><a routerLink="category">CATEGORY</a></li>
				<!--<li><a routerLink="map">MAP</a></li>-->
				<!--<li><a routerLink="list">LIST</a></li>-->
				<li><a routerLink="acount">ACOUNT</a></li>
				<li><a routerLink="login">LOGIN test</a></li>
				<li><a routerLink="admin">ADMIN test</a></li>
			</ul>
		</div>
	</div>
</nav>

<main>
	<router-outlet ></router-outlet>
</main>


 

