<!--<p>
  admin works!
</p>-->
<div class="container">
  <div class="row">
   <div class="col-sm-12 col-md-12">
     <div class="page-header">
        <h1>USER <small>  post/update/setting</small></h1>
      </div>
     <nav >
       <a routerLink="./" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">ダッシュボード</a>
       <a routerLink="newPhoto" routerLinkActive="active">新規追加</a>
       <a routerLink="mPhoto" routerLinkActive="active">画像一覧</a>
       <a routerLink="mUser" routerLinkActive="active">ユーザー</a>
       <!--<a routerLink="mUserName" routerLinkActive="active">ユーザー登録</a>-->
        
      <!--<a routerLink="dashborad" routerLinkActive="active">Dashborad</a>-->
    </nav>
    <router-outlet></router-outlet>
   </div>
 </div>
</div>



