<!--<p>
  admin works!
</p>-->
<div class="container">
  <div class="row">
   <div class="col-sm-12 col-md-12">
     <nav>
      <a routerLink="./" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">ユーザー情報</a>
      <!--<a routerLink="dashborad" routerLinkActive="active">Dashborad</a>-->
      <a routerLink="mPhoto" routerLinkActive="active">写真</a>
      <a routerLink="mUser" routerLinkActive="active">カテゴリー</a>
    </nav>
    <router-outlet></router-outlet>
   </div>
 </div>
</div>


