
.media-body .fa{
  margin-left:4px;
  font-size: 18px;
}

.list-group-item:hover{
    cursor: pointer;
    background: whitesmoke;
}

.link-color{
  color:brown;
}
.link-color:hover{
 color:red;
  cursor: pointer;
}