.photo-size-login{
    width: 100px;
    height: auto;
}
.img-size-list{
    width: 100px;
    height: auto;
    border:1px solid gray;
}
.selected {
      background-color: ghostwhite !important;
      color: gray;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
ul {
  list-style: none;
  
}
ul li span{
  margin-left: 5px; 
}
.page-header-height{
   height: 50px;
   overflow: hidden;
}

.panal-height{
  height: 400px;
  background-color: ghostwhite !important;
}
.panel-category{
  padding: 6px 24px;

}
