
<!-- http://codepen.io/jlalovi/details/bIyAr -->
<div class="container">
    <div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="page-header">
            <h1><small>ダッシュボード</small></h1>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
    <!--<div class="col-lg-3 col-md-6">-->
        <div class="panel  panel-color-backcolor">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-camera fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{total_cnt}}</div>
                        <div class="huge-text">All Photo Total</div>
                    </div>
                </div>
            </div>
            <!--<a href="#">-->
                <div class="panel-footer">
                    <span class="pull-left">Posted Photo Total</span>
                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                    <div class="clearfix"></div>
                </div>
            <!--</a>-->
        </div>
    </div>
    <!--<div class="col-lg-3 col-md-6">-->
     <div class="col-sm-3 col-md-3">
        <div class="panel  panel-color-backcolor">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{new_cnt}}</div>
                        <div class="huge-text">New Photos</div>
                    </div>
                </div>
            </div>
            <!--<a href="#">-->
                <div class="panel-footer">
                    <span class="pull-left">New Photos by month</span>
                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                    <div class="clearfix"></div>
                </div>
            <!--</a>-->
        </div>
    </div>
    <!--<div class="col-lg-3 col-md-6">-->
            <div class="col-sm-3 col-md-3">
        <div class="panel  panel-color-backcolor">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-folder-open-o fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{posted_category}}</div>
                        <div class="huge-text">Posted Category</div>
                    </div>
                </div>
            </div>
            <!--<a href="#">-->
                <div class="panel-footer">
                    <span class="pull-left">Applicable categories</span>
                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                    <div class="clearfix"></div>
                </div>
            <!--</a>-->
        </div>
    </div>
    <!--<div class="col-lg-3 col-md-6">-->
            <div class="col-sm-3 col-md-3">
        <div class="panel  panel-color-backcolor">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-trophy fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{year_posted}}</div>
                        <div class="huge-text">{{now_year}}-Posted</div>
                    </div>
                </div>
            </div>
            <!--<a href="#">-->
                <div class="panel-footer">
                    <span class="pull-left">Frequent category</span>
                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                    <div class="clearfix"></div>
                </div>
            <!--</a>-->
        </div>
    </div>









    
  <!-- DONUT CHART BLOCK (LEFT-CONTAINER) --> 
  <div class="col-sm-6 col-md-6">
  <div class="donut-chart-block block"> 
      <ul class="os-percentages horizontal-list">
            <li>
                <p class="twilite os scnd-font-color">Twilite</p>
                <p class="os-percentage">{{category_list[0].cnt}}<sup></sup></p>
            </li>
            <li>
                <p class="night os scnd-font-color">Night</p>
                <p class="os-percentage">{{category_list[1].cnt}}<sup></sup></p>
            </li>
            <li>
                <p class="natures os scnd-font-color">Natures</p>
                <p class="os-percentage">{{category_list[2].cnt}}<sup></sup></p>
            </li>
            <li>
                <p class="structures os scnd-font-color">Structures</p>
                <p class="os-percentage">{{category_list[3].cnt}}<sup></sup></p>
            </li>
            <li>
                <p class="vehicles os scnd-font-color">Vehicles</p>
                <p class="os-percentage">{{category_list[4].cnt}}<sup></sup></p>
            </li>
        </ul>
       
        <h2 class="titular">Posted photos</h2>
        <div class="donut-chart">
        <!-- PORCIONES GRAFICO CIRCULAR
            ELIMINADO #donut-chart
            MODIFICADO CSS de .donut-chart -->
            <!--<div id="porcion1" class="recorte"><div class="quesito ios" data-rel="51"></div></div>
            <div id="porcion2" class="recorte"><div class="quesito mac" data-rel="19"></div></div>
            <div id="porcion3" class="recorte"><div class="quesito win" data-rel="11"></div></div>
            <div id="porcionFin" class="recorte"><div class="quesito linux" data-rel="9"></div></div>-->
            <div *ngIf="category_list[0].pos_leng !== 0">    
            <!--<div id="porcion1"  [style.transform]="'rotate(' + category_list[0].position + 'deg)'" class="recorte">
                <div [style.transform]="'rotate(' + category_list[0].pos_leng + 'deg)'" 
                class="quesito ios "  data-rel="50"></div>
            </div>-->
             <div id="porcion1"  [style.transform]="'rotate(' + category_list[0].position_r + 'deg)'" class="recorte">
                <div [style.transform]="'rotate(' + category_list[0].pos_leng_r + 'deg)'" 
                class="quesito ios "  data-rel="50"></div>
            </div>

             <div id="porcion1"  [style.transform]="'rotate(' + category_list[0].position_l + 'deg)'" class="recorte">
                <div [style.transform]="'rotate(' + category_list[0].pos_leng_l + 'deg)'" 
                class="quesito ios "  data-rel="50"></div>
            </div>
            </div>

            <div *ngIf="category_list[1].pos_leng !== 0"> 
            <!--<div id="porcion2" [style.transform]="'rotate(' + category_list[1].position + 'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[1].pos_leng + 'deg)'"
                 class="quesito mac" data-rel="10"></div>
            </div>-->
            <div id="porcion2" [style.transform]="'rotate(' + category_list[1].position_r + 'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[1].pos_leng_r + 'deg)'"
                 class="quesito mac" data-rel="10"></div>
            </div>
            <div id="porcion2" [style.transform]="'rotate(' + category_list[1].position_l + 'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[1].pos_leng_l + 'deg)'"
                 class="quesito mac" data-rel="10"></div>
            </div>
            </div>

            <div *ngIf="category_list[2].pos_leng !== 0"> 
            <!--<div id="porcion3" [style.transform]="'rotate(' + category_list[2].position +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[2].pos_leng + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>-->
            <div id="porcion3" [style.transform]="'rotate(' + category_list[2].position_r +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[2].pos_leng_r + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>
            <div id="porcion3" [style.transform]="'rotate(' + category_list[2].position_l +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[2].pos_leng_l + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>
            </div>
            
            <div *ngIf="category_list[3].pos_leng !== 0"> 
            <!--<div id="porcion4" [style.transform]="'rotate(' + category_list[3].position +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[3].pos_leng + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>-->
            <div id="porcion4" [style.transform]="'rotate(' + category_list[3].position_r +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[3].pos_leng_r + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>
            <div id="porcion4" [style.transform]="'rotate(' + category_list[3].position_l +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[3].pos_leng_l + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>
            </div>

            <div *ngIf="category_list[4].pos_leng !== 0"> 
            <!--<div id="porcion5" [style.transform]="'rotate(' + category_list[4].position +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[4].pos_leng + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>-->
            <div id="porcion5" [style.transform]="'rotate(' + category_list[4].position_r +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[4].pos_leng_r + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>
            <div id="porcion5" [style.transform]="'rotate(' + category_list[4].position_l +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[4].pos_leng_l + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>
            </div>

            <div *ngIf="category_list[5].pos_leng !== 0"> 
            <!--<div id="porcion6" [style.transform]="'rotate(' + category_list[5].position +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[5].pos_leng + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>-->
            <div id="porcion6" [style.transform]="'rotate(' + category_list[5].position_r +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[5].pos_leng_r + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>
            <div id="porcion6" [style.transform]="'rotate(' + category_list[5].position_l +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[5].pos_leng_l + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>
            </div>

            <div *ngIf="category_list[6].pos_leng !== 0"> 
            <!--<div id="porcion7" [style.transform]="'rotate(' + category_list[6].position +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[6].pos_leng + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>-->
            <div id="porcion7" [style.transform]="'rotate(' + category_list[6].position_r +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[6].pos_leng_r + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>
            <div id="porcion7" [style.transform]="'rotate(' + category_list[6].position_l +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[6].pos_leng_l + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>
            </div>

            <div *ngIf="category_list[7].pos_leng !== 0"> 
            <div id="porcion8" [style.transform]="'rotate(' + category_list[7].position +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[7].pos_leng + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>
             <div id="porcion8" [style.transform]="'rotate(' + category_list[7].position_r +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[7].pos_leng_r + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>
             <div id="porcion8" [style.transform]="'rotate(' + category_list[7].position_l +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[7].pos_leng_l + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>
           
            </div>
            
            <div *ngIf="category_list[8].pos_leng !== 0"> 
            <!--<div id="porcionFin" [style.transform]="'rotate(' + category_list[8].position +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[8].pos_leng + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>-->
            <div id="porcionFin" [style.transform]="'rotate(' + category_list[8].position_r +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[8].pos_leng_r + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>
            <div id="porcionFin" [style.transform]="'rotate(' + category_list[8].position_l +'deg)'"  class="recorte">
                <div [style.transform]="'rotate(' + category_list[8].pos_leng_l + 'deg)'" 
                class="quesito win" data-rel="10"></div>
            </div>
            </div>
            
            

            <!--<div id="porcionFin" [style.transform]="'rotate('+ category_list[8].position +'deg)'"  class="recorte">
                <div class="quesito linux" data-rel="10"></div>
            </div>-->
        <!-- FIN AÑADIDO GRÄFICO -->
                <p class="center-date">{{total_cnt}}<br><span class="scnd-font-color">Total</span></p>        
        </div>
        <ul class="os-percentages horizontal-list">
            <li>
                <p class="peples os scnd-font-color">Peples</p>
                <p class="os-percentage">{{category_list[5].cnt}}<sup></sup></p>
            </li>
            <li>
                <p class="creatures os scnd-font-color">Creatures</p>
                <p class="os-percentage">{{category_list[6].cnt}}<sup></sup></p>
            </li>
            <li>
                <p class="bycicle os scnd-font-color">Bycicle</p>
                <p class="os-percentage">{{category_list[7].cnt}}<sup></sup></p>
            </li>
            <li>
                <p class="others os scnd-font-color">others</p>
                <p class="os-percentage">{{category_list[8].cnt}}<sup></sup></p>
            </li>
            <li>
                <p class="total os scnd-font-color">Total</p>
                <p class="os-percentage">{{total_cnt}}<sup></sup></p>
            </li>
        </ul>
        
 </div>
 </div>

 
                

  <!-- bar-chart-block  -->
  <div class="col-sm-6 col-md-6">
  <div class="bar-chart-block block">
    <h2 class='titular'>Posted Category (%) <span></span></h2>
    <div class='grafico bar-chart'>
       <ul class='eje-y'>
         <li data-ejeY='80'></li>
         <li data-ejeY='60'></li>
         <li data-ejeY='40'></li>
         <li data-ejeY='20'></li>
         <li data-ejeY='0'></li>
       </ul>
       <!--<ul class='eje-x'>
         <li data-ejeX='37'><i>Twilite</i></li>
         <li data-ejeX='56'><i>Night</i></li>
         <li data-ejeX='25'><i>Nature</i></li>
         <li data-ejeX='18'><i>Structures</i></li>
         <li data-ejeX='45'><i>Vehicles</i></li>
         <li data-ejeX='50'><i>Peples</i></li>
         <li data-ejeX='33'><i>Creatures</i></li>
         <li data-ejeX='20'><i>Bycicle</i></li>
         <li data-ejeX='20'><i>Others</i></li>
       </ul>-->
        <ul class='eje-x'>
         <li data-ejeX='37'>
             <span class="column-shape column-shape-1" 
              [style.height]=" (category_list[0].prog * 10 )+'%'" 
             ></span>
             <i>Twilite</i>
         </li>
         <li data-ejeX='56'>
              <span class="column-shape column-shape-2" 
              [style.height]=" (category_list[1].prog * 10 )+'%'" 
             ></span>
             <i>Night</i>
        </li>
         <li data-ejeX='25'>
             <span class="column-shape column-shape-3" 
              [style.height]=" (category_list[2].prog * 10 )+'%'" 
             ></span>
             <i>Nature</i>
        </li>
         <li data-ejeX='18'>
             <span class="column-shape column-shape-4" 
              [style.height]=" (category_list[3].prog * 10 )+'%'" 
             ></span>
             <i>Structures</i>
         </li>
         <li data-ejeX='45'>
             <span class="column-shape column-shape-5" 
              [style.height]=" (category_list[4].prog * 10 )+'%'" 
             ></span>
             <i>Vehicles</i>
         </li>
         <li data-ejeX='50'>
             <span class="column-shape column-shape-6" 
              [style.height]=" (category_list[5].prog * 10 )+'%'" 
             ></span>
             <i>Peples</i>
         </li>
         <li data-ejeX='33'>
             <span class="column-shape column-shape-7" 
              [style.height]=" (category_list[6].prog * 10 )+'%'" 
             ></span>
             <i>Creatures</i>
         </li>
         <li data-ejeX='20'>
             <span class="column-shape column-shape-8" 
              [style.height]=" (category_list[7].prog * 10 )+'%'" 
             ></span>
             <i>Bycicle</i>
         </li>
         <li data-ejeX='20'>
             <span class="column-shape column-shape-9" 
              [style.height]=" (category_list[8].prog * 10 )+'%'" 
             ></span>
             <i>Others</i>
         </li>
       </ul>
    </div>
  </div>
  </div>


 <!-- LINE CHART BLOCK (LEFT-CONTAINER) -->
 <div class="col-sm-12 col-md-12">
 <div class="line-chart-block block">
      <h2 class='titular'>Year/Monthly Report <span></span></h2>
     <!--<div class="line-chart">
       <div class='grafico'>
       <ul class='eje-y'>
         <li data-ejeY='30'></li>
         <li data-ejeY='20'></li>
         <li data-ejeY='10'></li>
         <li data-ejeY='0'></li>
       </ul>
       <ul class='eje-x'>
         <li>Apr</li>
         <li>May</li>
         <li>Jun</li>
        
       </ul>
         <span data-valor='25'>
           <span data-valor='8'>
             <span data-valor='13'>
               <span data-valor='5'>   
                 <span data-valor='23'>   
                 <span data-valor='12'>
                     <span data-valor='15'>
                     </span></span></span></span></span></span></span>
       </div>
     </div>-->

        <ul class="time-lenght horizontal-list">
           
            <!--<li><a class="time-lenght-btn" href="#16">Year</a></li>
            <li><a class="time-lenght-btn" href="#15">Month</a></li>-->
             <!--<li><a class="time-lenght-btn" href="#14">Week</a></li>-->
           <!--<li><button type="button" (click)="date_dsp = true"></button>Month</li>-->
            <button type="button" class="btn btn-success btn-xs" (click)="date_dsp=false">Year</button>
            <button type="button" class="btn btn-success btn-xs" (click)="date_dsp=true">Month</button>
           
           
        </ul>

        <!--<ul class="month-data clear">
            <li>
                <p>APR<span class="scnd-font-color"> 2013</span></p>
                <p><span class="entypo-plus increment"> </span>21<sup>%</sup></p>
            </li>
            <li>
                <p>MAY<span class="scnd-font-color"> 2013</span></p>
                <p><span class="entypo-plus increment"> </span>48<sup>%</sup></p>
            </li>
            <li>
                <p>JUN<span class="scnd-font-color"> 2013</span></p>
                <p><span class="entypo-plus increment"> </span>35<sup>%</sup></p>
            </li>
        </ul>-->
        <!--<ul  *ngFor="let date of date_table" class="month-data clear date-tatal" >
            <li>
                <p>{{date.year}} <span class="scnd-font-color date-tatal-span"> Total:</span>{{date.mAll}}<span class="scnd-font-color"> Photos Posted</span></p>
                <p><span class="entypo-plus increment">Month Data</span><sup></sup></p>
            </li>
        </ul>-->
         <ul  *ngFor="let date of date_table" class="month-data clear date-tatal" >
            <li>
                <div class="col-xs-12 col-sm-12 col-md-12 data_year_line">
                    <p>{{date.year}} <span class="scnd-font-color date-tatal-span"> Total:</span>{{date.mAll}}<span class="scnd-font-color"> </span></p>
                    <p><span class="entypo-plus increment"></span><sup></sup></p>
                </div>
                <div *ngIf="date_dsp">
                  <div class="col-xs-12 col-sm-6 col-md-3"><p> <span class="scnd-font-color date-tatal-span"> Jan:</span>{{date.m1}}<span class="scnd-font-color"></span></p>
                  <p><span class="entypo-plus increment"></span><sup></sup></p></div>
                  <div class="col-xs-12 col-sm-6 col-md-3"><p> <span class="scnd-font-color date-tatal-span"> Feb:</span>{{date.m2}}<span class="scnd-font-color"></span></p>
                  <p><span class="entypo-plus increment"></span><sup></sup></p></div>
                  <div class="col-xs-12 col-sm-6 col-md-3"><p> <span class="scnd-font-color date-tatal-span"> Mar:</span>{{date.m3}}<span class="scnd-font-color"> </span></p>
                  <p><span class="entypo-plus increment"></span><sup></sup></p></div>
                  <div class="col-xs-12 col-sm-6 col-md-3"><p> <span class="scnd-font-color date-tatal-span"> Apr:</span>{{date.m4}}<span class="scnd-font-color"> </span></p>
                  <p><span class="entypo-plus increment"></span><sup></sup></p></div>
                  <div class="col-xs-12 col-sm-6 col-md-3"><p> <span class="scnd-font-color date-tatal-span"> May:</span>{{date.m5}}<span class="scnd-font-color"> </span></p>
                  <p><span class="entypo-plus increment"></span><sup></sup></p></div>
                  <div class="col-xs-12 col-sm-6 col-md-3"><p> <span class="scnd-font-color date-tatal-span"> Jun:</span>{{date.m6}}<span class="scnd-font-color"> </span></p>
                  <p><span class="entypo-plus increment"></span><sup></sup></p></div>
                  <div class="col-xs-12 col-sm-6 col-md-3"><p> <span class="scnd-font-color date-tatal-span"> Jul:</span>{{date.m7}}<span class="scnd-font-color"> </span></p>
                  <p><span class="entypo-plus increment"></span><sup></sup></p></div>
                  <div class="col-xs-12 col-sm-6 col-md-3"><p> <span class="scnd-font-color date-tatal-span"> Aug:</span>{{date.m8}}<span class="scnd-font-color"> </span></p>
                  <p><span class="entypo-plus increment"></span><sup></sup></p></div>
                  <div class="col-xs-12 col-sm-6 col-md-3"><p> <span class="scnd-font-color date-tatal-span"> Sep:</span>{{date.m9}}<span class="scnd-font-color"> </span></p>
                  <p><span class="entypo-plus increment"></span><sup></sup></p></div>
                  <div class="col-xs-12 col-sm-6 col-md-3"><p> <span class="scnd-font-color date-tatal-span"> Oct:</span>{{date.m10}}<span class="scnd-font-color"> </span></p>
                  <p><span class="entypo-plus increment"></span><sup></sup></p></div>
                  <div class="col-xs-12 col-sm-6 col-md-3"><p> <span class="scnd-font-color date-tatal-span"> Nov:</span>{{date.m11}}<span class="scnd-font-color"> </span></p>
                  <p><span class="entypo-plus increment"></span><sup></sup></p></div>
                  <div class="col-xs-12 col-sm-6 col-md-3"><p> <span class="scnd-font-color date-tatal-span"> Dec:</span>{{date.m12}}<span class="scnd-font-color"> </span></p>
                  <p><span class="entypo-plus increment"></span><sup></sup></p></div>
                </div>

            </li>
        </ul>
        

    </div>
    </div>
<!--
    Jan Feb Mar Apr May Jun  jul Aug sep Oct Nov Dec
    a-->



<!--<div class="col-sm-12 col-md-12">
     <div class="line-chart-block block">

         <div class="card">
  <div class="donut-chart chart1">
    <div class="slice one"></div>
    <div class="slice two"></div>
    <div class="chart-center">
      <span></span>
    </div>
  </div>
</div>

<div class="card">
  <div class="donut-chart chart2">
    <div class="slice one"></div>
    <div class="slice two"></div>
    <div class="chart-center">
      <span></span>
    </div>
  </div>
</div>

<div class="card">
  <div class="donut-chart chart3">
    <div class="slice one"></div>
    <div class="slice two"></div>
    <div class="chart-center">
      <span></span>
    </div>
  </div>
</div>

<div class="card">
  <div class="donut-chart chart4">
    <div class="slice one"></div>
    <div class="slice two"></div>
    <div class="chart-center">
      <span></span>
    </div>
  </div>
</div>



         
     </div>
</div>-->




 
 

</div><!-- row -->


  
               

               

              
                    
               







</div><!-- contener -->

<!--<p class='nota-final'>Este pen es sólo para que <strong>@jlalovi</strong> complemente con los gráficos <a href='http://codepen.io/jlalovi/details/bIyAr'>el suyo</a>.</p>-->
  <!--<div>
  <span class="column-shape column-shape-4">shape</span>   
  </div>-->






