
  <!--<app-user-photo-list [user]="user" [selectUser]="selectUser" [items]="items" [image]="image"></app-user-photo-list>-->
 <app-user-photo-list2 [user]="user" [selectUser]="selectUser" [items]="items" [image]="image"></app-user-photo-list2>
<!--user list-->
<div class="container"> 
  <div class="row">
  <div class="col-sm-12 col-md-12">

     <div class="page-header">
        <h1>POTOGRATHER <small>Entry user  </small></h1>
      </div>

      <div class="media">
        <ul class="list-group">

          <li *ngFor="let user of users  | async; let idx = index; "
             [class.selected]="user === selectUser"
              (click)="onSelectUser(user, idx)" class="list-group-item">
                <div  class="media-left media-middle">
                
                    <!--<img [src]="image[idx]" class="media-object img-size-list" alt=""/>-->
              
                </div>
                <div class="media-body">
                  <h2 class="media-heading">{{user.photoName}}</h2>
                  <h4 class="media-heading">{{user.intro}}</h4>
                </div>
          </li>
        </ul>
      </div>
 
    </div>
  </div>
</div>





  