


<div class="container">
<div class="row">
   <div class="col-sm-12 col-md-12">
      <div class="page-header">
        <h1>RECOMEND CATEGORY <small></small></h1>
      </div>
  </div>
   
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
       <img src="../../assets/img9758.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <!--<p>ギャラリー</p>-->
         <p>カテゴリー：Twilite</p>
        <h3>児島湾干拓地の水田に沈む夕日</h3>
       
      
        <!--<p> <a href="category" class="btn btn-default" role="button">表示</a></p>-->
       <!--<p><a [routerLink]="['location','/twilite/img9758.jpg']">location撮影スポットをＭＡＰ表示する</a><p>-->
       <p><a [routerLink]="['homeSpot','/twilite/img9758.jpg']">撮影スポットをＭＡＰ表示する</a><p>
      </div>
    </div>
  </div>

   <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
       <img src="../../assets/img8753.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <!--<p>ギャラリー</p>-->
         <p>カテゴリー：Bycicle</p>
        <h3>桃太郎大通りの自転車</h3>
      
       <p><a [routerLink]="['homeSpot','/twilite/img8753.jpg']">撮影スポットをＭＡＰ表示する</a><p>
      
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
       <img src="../../assets/img9575a.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <!--<p>ギャラリー</p>-->
         <p>カテゴリー：Night</p>
        <h3>神戸港のモザイクガーデン</h3>
      
       <p><a [routerLink]="['homeSpot','/twilite/img9575a.jpg']">撮影スポットをＭＡＰ表示する</a><p>
      
      </div>
    </div>
  </div>
  
  

  </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-12">
      <div class="page-header">
        <h1>みんなで【絶景】撮影ポイントを共有しよう！<small></small></h1>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h3>1.Ｇｏｏｇｌｅアカウントでログインします。</h3>
          <p>メニューの［ＡＣＯＵＮＴ］をクリックします。</p>
          <p>［login with Ｇoogle］ボタンをクリックします。</p>
          <p>ポップアップウインドウが開くので［login with google］ボタンをクリックします。</p>
          <p>［パスワード］を入力して［ログイン］ボタンをクリックします。</p>

        </li>
        <li class="list-group-item">
          <h3>2.フォトグラファー名を登録します。（最初に1度だけ行います。）</h3>
          <p>メニューの［ＡＣＯＵＮＴ］をクリックします。</p>
          <p>［フォトグラファー名］と［自己紹介］を入力します。</p>
          <p>［フォトグラファー登録］ボタンをクリックします。</p>
        </li>
        <li class="list-group-item">
         <h3>3.写真を投稿します。</h3>
          　<p>メニューの［ＡＣＯＵＮＴ］をクリックします。</p>
           <p>アカウントページの一番下の［登録パネル］ボタンをクリックします。</p>
           <p>写真を登録するために［ファイルを選択］ボタンをクリックします。</p>
           <p>ポップアップウインドウでローカルファイルを選択し［開く］ボタンをクリックします。</p>
           <p>各入力項目を入力します。</p>
           <p>［写真をＦＩＲＥＢＡＳＥ　ＳＴＲＡＧＥにアップロードする］ボタンをクリックします。</p>
        </li>
        <li class="list-group-item">
          <h3>4.投稿した写真の場所をＧｏｏｇｌｅＭａｐで見ることができます。</h3>
        </li>
        <li class="list-group-item">
         <h3> 5.フォトグラファー別やカテゴリー別に写真を見ることができます。</h3>
        </li>
      </ul>
    </div>
  </div>
</div>