<app-photo-details [selectSpot]="selectSpot" [image]="image"  ></app-photo-details>
<app-s-location [selectSpot]="selectSpot" [image]="image" ></app-s-location>
<!--spot list-->
<div class="container"> 
  <div class="row">
  <div class="col-sm-12 col-md-12">
     
      <div class="page-header">
        <h1>LIST <small>Twilite </small></h1>
        
      </div>
      
      <div class="media">
        <ul class="list-group">
          <li *ngFor="let item of items  | async; let idx = index; "
           [class.selected]="item === selectSpot" (click)="onSelect(item,idx)" class="list-group-item">
              <div class="media-left media-middle">
                <!--<a href="#">-->
                   <img [src]="image[idx]" class="media-object img-size-list" alt=""/>
                <!--</a>-->
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{item.title}}<br><small>{{item.text}}</small></h4>
                <h4 class="media-heading">{{item.displayName}}</h4>
                <h4 class="media-heading">{{item.imgLat}}</h4>
                <h4 class="media-heading">{{item.imgLan}}</h4>
                ...
               
              </div>
          </li>

        </ul>
        

      </div><!-- media -->
    </div><!--col-sm-12 col-md-6-->
  </div><!--row-->
  </div><!--container-->
 
 
  
  <app-location [image]="image"  [items]="items"></app-location>